name: CI

on:
  push:
    branches: [ develop ]

permissions:
  contents: write
  pull-requests: write

jobs:
  lint:
    name: Create release pull request
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/release-please-action@v3
        with:
          release-type: node
          package-name: release-please-action
